@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,200,300,400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #fff;
  font-weight: 200;
  text-decoration: none;
  font-size: 3em;
  letter-spacing: 0px;
  padding: 6px 10px;
}

header .logo:hover {
  background: #13af13;
  color: #000;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 10px;
  color: #fff;
  font-size: 1.2em;
}

header ul li a:hover {
  background: #13af13;
  color: #000;
  border-radius: 10px 5px;
}

body {
    min-height: 100vh;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.content {
      margin: 0 auto;
      max-width: 80%;
      padding: 20px;
      text-align: left;
}
.content a {
    color: #3266ff;
    transition: color 0.3s ease;
  }
  
  .content a:hover {
    color: #8ebbff;
  }
  
  .content a:active {
    color: #3266ff;
  }